@import "../../scss/colors";
.console {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 350px;
  border: 1px solid $color-light-grey;
  margin-right: 10px;
  &__option {
    height: 50px;
    width: 70px;

  }
}
