@import "../../colors";
@import "../../../../scss/fontawesome.scss";
@import "../../../../scss/variables";
@import "../../../../scss/core";
@import "../../../../scss/icons";
//@import "../../../../scss/"
$fa-font-path: "../../../../webfonts/";
.growl {
  width: 320px;
  height: 66px;
  background-color: grey; //TODO разобраться
  //border: 1px solid #5cb85c;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;

  &__button {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 3px;
    cursor: pointer;
  }
  &__textarea {
    display: inline-block;
    padding-left: 30px;
  }
  &__title {
    display: inline-block;
    font-size: 25px;
  }
  &__message {

    display: block;
    font-size: 20px;
  }
  &__icon {
    display: inline-block;
    margin-left: 15px;
    font-size: 30px;
  }

  &_succeed {
    @extend .growl;
    background-color: #5cb85c;

    .growl__icon {
      @extend .fas;
      @include fa-icon;

      &:before {
        //content: fa-content($fa-var-calculator);
        content: fa-content($fa-var-times);
      }
    }

  }

  &_info {
    @extend .growl;
    background-color: $color-info;

    .growl__icon {
      @extend .fas;
      @include fa-icon;

      &:before {
        content: fa-content($fa-var-info-circle);
      }
    }
  }

  &_error {
    @extend .growl;
    background-color: $color-error;

    .growl__icon {
      @extend .fas;
      @include fa-icon;

      &:before {
        content: fa-content($fa-var-times);
      }
    }
  }

}




