$button__list-color: darkgray;
$button__body-color: #3E97D1;
$button__label-color: #0A67A3;
$button__label-color: #0A67A3;
$button__label_sh-color: #448b4e;
$button-color: #404c51;

$color-succeed: #5cb85c;
$color-error: #d9534f;
$color-info: #2399e5;

$dialog-border-color: #D5D5D5;
$dialog__title-color: #f6f7f9;
