@import "../../colors";

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $button-color;

  &__option {
    cursor: pointer;
    margin: 1px;
    padding: 5px;
    height: 20px;
    width: 90px;
    border: 1px solid #d6d6d6;
    justify-content: center;
    align-items: center;
    &_selected {
      background: #1976d2;
      color: #d6d6d6;
    }
  }
  &__option:hover {
    background-color: #d6d6d6;

  }

  &__label {
    background: none;
    color: #555555;
    &_show {
      @extend .button__label;
    }
    &_selected {
      color: white;
    }
    :hover {
      background: #0A67A3;
    }
    &__label:hover {
      color: #448b4e;

    }
  }
}
