$button__list-color: darkgray;
$button__body-color: #3E97D1;
$button__label-color: #0A67A3;
$button__label-color: #0A67A3;
$button__label_sh-color: #448b4e;

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #404c51;
  &__list {
    background-color: $button__list-color;
    padding: 100px 100px;
    border-radius: 20px;

    &_show {
      background-color: #448b4e;
      display: none;
    }
  }
  &__img{
    position	: relative;
    width		: 70px;
    height		: 70px;
    margin-left: 70px;

  }
  &__option {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 20px;
    width: 90px;
    border: 1px solid #d6d6d6;

    &_selected {
      background: #1976d2;
      color: #d6d6d6;
    }
  }
  &__option:hover {
    background-color: #d6d6d6;

  }

  &__label {
    //position: absolute;
    background: none;
    color: #555555;
    margin-left: 15px;
    &_show {
      @extend .button__label;
    }
    &_selected {
      color: white;
    }
    :hover {
      background: #0A67A3;
    }
    &__label:hover {
      color: #448b4e;

    }
  }
}
