@import "../../scss/colors";
@import "../../../app/scss/font-awesome";

$height: 100px;
$height-min: 50px;
.toolbar {
  &__body {
    width: 100%;
    height: $height;
    background-color: $color-top-menu;
    color: white;
    text-align: left;
    font-size: 25px;
    opacity: 0.9;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    transition: height 0.7s;
    top: 0;
    position: sticky;
    nav {
      display: inline-block;
      position: absolute;
      top: 25%;
      width: 100%;
      a {
        color: white;
        margin: 20px 10px;
      }
      a.image {
        @extend .fontAwesome;
        display: inline-block;
        position: absolute;
        top: -25px;
        right: 3px;
        cursor: pointer;
        font-size: 50px;
        color: white;
        text-decoration: none;
        &:before {
          content: "\f09b";
        }
      }
    }
    button {
      display: inline-block;
    }
  }
  &__body-min {
    height: $height-min;
    nav {

      a {
        transition: font-size 0.7s;
        font-size: 20px;

      }
      a.image {
        transition: font-size 0.7s;
        font-size: 40px;
        top: -27px;
      }
    }
  }
}

.toolbarHost {
  position: sticky;
  top: 0;
  display: block;
  padding-top: 5px;

}
