@import "../../colors";
@import "../../components/select-button/select-button.component";

.button {
  &__list {

    &_show {
      flex-direction: row;
      display: none;
    }
  }

}

.console-section {
  display: flex;
  flex-direction: row;

}
