@import "../../colors";

.dialog {
  width: 350px;
  min-width: 200px;
  min-height: 150px;

  border: 1px solid $dialog-border-color;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  display: inline-block;
  position: fixed;
  margin: auto;
  &__titlebar {
    display: inline-block;
    width: 350px;
    min-width: 200px;
    min-height: 60px;
    background-color: $dialog__title-color;
    border-bottom: 1px solid $dialog-border-color;
  }
  &__button-exit {
    display: inline-block;
    position: absolute;
    right: 0px;
  }
  &__textarea {
    margin: 10px;
  }
  &__text {

  }
  &__button-section {
    width: 350px;
    min-width: 200px;
    min-height: 60px;
    //background-color: #d6d6d6;
    border-top: 1px solid $dialog-border-color;
    position: relative;
    .dialog__button-yes {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
    .dialog__button-no {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
  }
}
