<div class="dem__titlebox">
  <div class="dem__content-section">
    <div class="dem__feature-title">Growl</div>
    <div class="dem__feature-info">Growl is used to display messages in an overlay.</div>

  </div>
</div>

<growl-master [messages]="growlArray" class="growl-master"></growl-master>
<div class="view__button_succeed" (click)="showSucceed()">Succeed</div>
<div class="view__button_info" (click)="showInfo()">Info</div>
<div class="view__button_error" (click)="showError()">Error</div>
<span style="font-size: 3em; color: Tomato;">
  <i class="fas typo"></i>
</span>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at eros et erat euismod varius. Nam quis arcu euismod
  felis vestibulum condimentum. Sed et orci in ligula bibendum pretium id et leo. Praesent sed convallis felis.
  Pellentesque sodales leo finibus, imperdiet neque et, congue ante. Etiam vestibulum lobortis leo et iaculis. Fusce
  tincidunt leo mattis dapibus elementum. Donec in nulla vehicula, efficitur tellus eu, mollis massa. Donec tincidunt
  tincidunt ipsum in consequat. Nullam placerat ante non elit hendrerit, in varius ipsum fermentum. Nullam risus risus,
  sodales et auctor et, porttitor ac felis. Proin quis volutpat magna, non finibus est. Suspendisse nec vehicula odio.
  Phasellus et egestas nisl. Quisque sed metus ac mi congue aliquet in non tortor.


  Aenean ullamcorper et libero ac imperdiet. Ut non neque ipsum. Suspendisse eget luctus urna. Phasellus quis nibh nec
  elit sagittis pellentesque eu ut nunc. Nullam vehicula arcu metus, faucibus ultrices arcu rutrum quis. Aliquam
  convallis quam tempor, gravida nisi ut, lacinia enim. Proin dignissim tortor at luctus tempor. Phasellus dolor orci,
  scelerisque id dolor congue, dignissim semper sem.

  Aenean ullamcorper pulvinar ligula, quis tincidunt dolor iaculis non. Phasellus mollis tellus ac nisl ullamcorper
  faucibus. Fusce eleifend sollicitudin enim, sit amet ultrices leo tristique sed. Fusce dapibus egestas enim sed
  venenatis. In mollis diam vitae dolor posuere, convallis ullamcorper odio dapibus. Quisque sed sem elementum,
  scelerisque metus a, lobortis nisl. Phasellus scelerisque libero interdum mauris dapibus commodo. Maecenas ac ipsum
  tortor. Ut volutpat sed mauris eget efficitur. Aliquam aliquet et diam id consectetur. Mauris ac justo imperdiet,
  vestibulum mauris laoreet, bibendum turpis. Mauris at magna mauris. Integer congue purus eget justo aliquam, a dapibus
  metus rhoncus. Fusce maximus rhoncus lorem, quis lobortis diam commodo sed. Mauris dignissim, purus a hendrerit
  finibus, massa lectus tincidunt quam, id suscipit velit tellus a massa. Vestibulum eu urna vel justo venenatis rhoncus
  ac quis arcu.

  Phasellus semper quis urna ac efficitur. Nunc in aliquam diam. Nam varius id odio ac imperdiet. Sed rutrum semper
  varius. Fusce ac magna sed felis laoreet imperdiet. Nam eu nunc a urna venenatis volutpat a at augue. Mauris interdum
  sem vitae nibh tincidunt, ac egestas est rhoncus. Phasellus ullamcorper maximus venenatis.</p>
Morbi lobortis scelerisque luctus. Pellentesque mollis ipsum id vulputate vehicula. In molestie at odio eu interdum. Integer est arcu, gravida ut ligula in, volutpat dignissim augue. Proin ex ex, vulputate vel neque vitae, molestie molestie orci. Morbi tempus aliquam ipsum, et tempor orci tincidunt non. Curabitur dignissim sapien quis tortor auctor aliquam. Donec fermentum scelerisque suscipit.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at eros et erat euismod varius. Nam quis arcu euismod
  felis vestibulum condimentum. Sed et orci in ligula bibendum pretium id et leo. Praesent sed convallis felis.
  Pellentesque sodales leo finibus, imperdiet neque et, congue ante. Etiam vestibulum lobortis leo et iaculis. Fusce
  tincidunt leo mattis dapibus elementum. Donec in nulla vehicula, efficitur tellus eu, mollis massa. Donec tincidunt
  tincidunt ipsum in consequat. Nullam placerat ante non elit hendrerit, in varius ipsum fermentum. Nullam risus risus,
  sodales et auctor et, porttitor ac felis. Proin quis volutpat magna, non finibus est. Suspendisse nec vehicula odio.
  Phasellus et egestas nisl. Quisque sed metus ac mi congue aliquet in non tortor.


  Aenean ullamcorper et libero ac imperdiet. Ut non neque ipsum. Suspendisse eget luctus urna. Phasellus quis nibh nec
  elit sagittis pellentesque eu ut nunc. Nullam vehicula arcu metus, faucibus ultrices arcu rutrum quis. Aliquam
  convallis quam tempor, gravida nisi ut, lacinia enim. Proin dignissim tortor at luctus tempor. Phasellus dolor orci,
  scelerisque id dolor congue, dignissim semper sem.

  Aenean ullamcorper pulvinar ligula, quis tincidunt dolor iaculis non. Phasellus mollis tellus ac nisl ullamcorper
  faucibus. Fusce eleifend sollicitudin enim, sit amet ultrices leo tristique sed. Fusce dapibus egestas enim sed
  venenatis. In mollis diam vitae dolor posuere, convallis ullamcorper odio dapibus. Quisque sed sem elementum,
  scelerisque metus a, lobortis nisl. Phasellus scelerisque libero interdum mauris dapibus commodo. Maecenas ac ipsum
  tortor. Ut volutpat sed mauris eget efficitur. Aliquam aliquet et diam id consectetur. Mauris ac justo imperdiet,
  vestibulum mauris laoreet, bibendum turpis. Mauris at magna mauris. Integer congue purus eget justo aliquam, a dapibus
  metus rhoncus. Fusce maximus rhoncus lorem, quis lobortis diam commodo sed. Mauris dignissim, purus a hendrerit
  finibus, massa lectus tincidunt quam, id suscipit velit tellus a massa. Vestibulum eu urna vel justo venenatis rhoncus
  ac quis arcu.

  Phasellus semper quis urna ac efficitur. Nunc in aliquam diam. Nam varius id odio ac imperdiet. Sed rutrum semper
  varius. Fusce ac magna sed felis laoreet imperdiet. Nam eu nunc a urna venenatis volutpat a at augue. Mauris interdum
  sem vitae nibh tincidunt, ac egestas est rhoncus. Phasellus ullamcorper maximus venenatis.</p>
Morbi lobortis scelerisque luctus. Pellentesque mollis ipsum id vulputate vehicula. In molestie at odio eu interdum. Integer est arcu, gravida ut ligula in, volutpat dignissim augue. Proin ex ex, vulputate vel neque vitae, molestie molestie orci. Morbi tempus aliquam ipsum, et tempor orci tincidunt non. Curabitur dignissim sapien quis tortor auctor aliquam. Donec fermentum scelerisque suscipit.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at eros et erat euismod varius. Nam quis arcu euismod
  felis vestibulum condimentum. Sed et orci in ligula bibendum pretium id et leo. Praesent sed convallis felis.
  Pellentesque sodales leo finibus, imperdiet neque et, congue ante. Etiam vestibulum lobortis leo et iaculis. Fusce
  tincidunt leo mattis dapibus elementum. Donec in nulla vehicula, efficitur tellus eu, mollis massa. Donec tincidunt
  tincidunt ipsum in consequat. Nullam placerat ante non elit hendrerit, in varius ipsum fermentum. Nullam risus risus,
  sodales et auctor et, porttitor ac felis. Proin quis volutpat magna, non finibus est. Suspendisse nec vehicula odio.
  Phasellus et egestas nisl. Quisque sed metus ac mi congue aliquet in non tortor.


  Aenean ullamcorper et libero ac imperdiet. Ut non neque ipsum. Suspendisse eget luctus urna. Phasellus quis nibh nec
  elit sagittis pellentesque eu ut nunc. Nullam vehicula arcu metus, faucibus ultrices arcu rutrum quis. Aliquam
  convallis quam tempor, gravida nisi ut, lacinia enim. Proin dignissim tortor at luctus tempor. Phasellus dolor orci,
  scelerisque id dolor congue, dignissim semper sem.

  Aenean ullamcorper pulvinar ligula, quis tincidunt dolor iaculis non. Phasellus mollis tellus ac nisl ullamcorper
  faucibus. Fusce eleifend sollicitudin enim, sit amet ultrices leo tristique sed. Fusce dapibus egestas enim sed
  venenatis. In mollis diam vitae dolor posuere, convallis ullamcorper odio dapibus. Quisque sed sem elementum,
  scelerisque metus a, lobortis nisl. Phasellus scelerisque libero interdum mauris dapibus commodo. Maecenas ac ipsum
  tortor. Ut volutpat sed mauris eget efficitur. Aliquam aliquet et diam id consectetur. Mauris ac justo imperdiet,
  vestibulum mauris laoreet, bibendum turpis. Mauris at magna mauris. Integer congue purus eget justo aliquam, a dapibus
  metus rhoncus. Fusce maximus rhoncus lorem, quis lobortis diam commodo sed. Mauris dignissim, purus a hendrerit
  finibus, massa lectus tincidunt quam, id suscipit velit tellus a massa. Vestibulum eu urna vel justo venenatis rhoncus
  ac quis arcu.

  Phasellus semper quis urna ac efficitur. Nunc in aliquam diam. Nam varius id odio ac imperdiet. Sed rutrum semper
  varius. Fusce ac magna sed felis laoreet imperdiet. Nam eu nunc a urna venenatis volutpat a at augue. Mauris interdum
  sem vitae nibh tincidunt, ac egestas est rhoncus. Phasellus ullamcorper maximus venenatis.</p>
Morbi lobortis scelerisque luctus. Pellentesque mollis ipsum id vulputate vehicula. In molestie at odio eu interdum. Integer est arcu, gravida ut ligula in, volutpat dignissim augue. Proin ex ex, vulputate vel neque vitae, molestie molestie orci. Morbi tempus aliquam ipsum, et tempor orci tincidunt non. Curabitur dignissim sapien quis tortor auctor aliquam. Donec fermentum scelerisque suscipit.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at eros et erat euismod varius. Nam quis arcu euismod
  felis vestibulum condimentum. Sed et orci in ligula bibendum pretium id et leo. Praesent sed convallis felis.
  Pellentesque sodales leo finibus, imperdiet neque et, congue ante. Etiam vestibulum lobortis leo et iaculis. Fusce
  tincidunt leo mattis dapibus elementum. Donec in nulla vehicula, efficitur tellus eu, mollis massa. Donec tincidunt
  tincidunt ipsum in consequat. Nullam placerat ante non elit hendrerit, in varius ipsum fermentum. Nullam risus risus,
  sodales et auctor et, porttitor ac felis. Proin quis volutpat magna, non finibus est. Suspendisse nec vehicula odio.
  Phasellus et egestas nisl. Quisque sed metus ac mi congue aliquet in non tortor.


  Aenean ullamcorper et libero ac imperdiet. Ut non neque ipsum. Suspendisse eget luctus urna. Phasellus quis nibh nec
  elit sagittis pellentesque eu ut nunc. Nullam vehicula arcu metus, faucibus ultrices arcu rutrum quis. Aliquam
  convallis quam tempor, gravida nisi ut, lacinia enim. Proin dignissim tortor at luctus tempor. Phasellus dolor orci,
  scelerisque id dolor congue, dignissim semper sem.

  Aenean ullamcorper pulvinar ligula, quis tincidunt dolor iaculis non. Phasellus mollis tellus ac nisl ullamcorper
  faucibus. Fusce eleifend sollicitudin enim, sit amet ultrices leo tristique sed. Fusce dapibus egestas enim sed
  venenatis. In mollis diam vitae dolor posuere, convallis ullamcorper odio dapibus. Quisque sed sem elementum,
  scelerisque metus a, lobortis nisl. Phasellus scelerisque libero interdum mauris dapibus commodo. Maecenas ac ipsum
  tortor. Ut volutpat sed mauris eget efficitur. Aliquam aliquet et diam id consectetur. Mauris ac justo imperdiet,
  vestibulum mauris laoreet, bibendum turpis. Mauris at magna mauris. Integer congue purus eget justo aliquam, a dapibus
  metus rhoncus. Fusce maximus rhoncus lorem, quis lobortis diam commodo sed. Mauris dignissim, purus a hendrerit
  finibus, massa lectus tincidunt quam, id suscipit velit tellus a massa. Vestibulum eu urna vel justo venenatis rhoncus
  ac quis arcu.

  Phasellus semper quis urna ac efficitur. Nunc in aliquam diam. Nam varius id odio ac imperdiet. Sed rutrum semper
  varius. Fusce ac magna sed felis laoreet imperdiet. Nam eu nunc a urna venenatis volutpat a at augue. Mauris interdum
  sem vitae nibh tincidunt, ac egestas est rhoncus. Phasellus ullamcorper maximus venenatis.</p>
Morbi lobortis scelerisque luctus. Pellentesque mollis ipsum id vulputate vehicula. In molestie at odio eu interdum. Integer est arcu, gravida ut ligula in, volutpat dignissim augue. Proin ex ex, vulputate vel neque vitae, molestie molestie orci. Morbi tempus aliquam ipsum, et tempor orci tincidunt non. Curabitur dignissim sapien quis tortor auctor aliquam. Donec fermentum scelerisque suscipit.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at eros et erat euismod varius. Nam quis arcu euismod
  felis vestibulum condimentum. Sed et orci in ligula bibendum pretium id et leo. Praesent sed convallis felis.
  Pellentesque sodales leo finibus, imperdiet neque et, congue ante. Etiam vestibulum lobortis leo et iaculis. Fusce
  tincidunt leo mattis dapibus elementum. Donec in nulla vehicula, efficitur tellus eu, mollis massa. Donec tincidunt
  tincidunt ipsum in consequat. Nullam placerat ante non elit hendrerit, in varius ipsum fermentum. Nullam risus risus,
  sodales et auctor et, porttitor ac felis. Proin quis volutpat magna, non finibus est. Suspendisse nec vehicula odio.
  Phasellus et egestas nisl. Quisque sed metus ac mi congue aliquet in non tortor.


  Aenean ullamcorper et libero ac imperdiet. Ut non neque ipsum. Suspendisse eget luctus urna. Phasellus quis nibh nec
  elit sagittis pellentesque eu ut nunc. Nullam vehicula arcu metus, faucibus ultrices arcu rutrum quis. Aliquam
  convallis quam tempor, gravida nisi ut, lacinia enim. Proin dignissim tortor at luctus tempor. Phasellus dolor orci,
  scelerisque id dolor congue, dignissim semper sem.

  Aenean ullamcorper pulvinar ligula, quis tincidunt dolor iaculis non. Phasellus mollis tellus ac nisl ullamcorper
  faucibus. Fusce eleifend sollicitudin enim, sit amet ultrices leo tristique sed. Fusce dapibus egestas enim sed
  venenatis. In mollis diam vitae dolor posuere, convallis ullamcorper odio dapibus. Quisque sed sem elementum,
  scelerisque metus a, lobortis nisl. Phasellus scelerisque libero interdum mauris dapibus commodo. Maecenas ac ipsum
  tortor. Ut volutpat sed mauris eget efficitur. Aliquam aliquet et diam id consectetur. Mauris ac justo imperdiet,
  vestibulum mauris laoreet, bibendum turpis. Mauris at magna mauris. Integer congue purus eget justo aliquam, a dapibus
  metus rhoncus. Fusce maximus rhoncus lorem, quis lobortis diam commodo sed. Mauris dignissim, purus a hendrerit
  finibus, massa lectus tincidunt quam, id suscipit velit tellus a massa. Vestibulum eu urna vel justo venenatis rhoncus
  ac quis arcu.

  Phasellus semper quis urna ac efficitur. Nunc in aliquam diam. Nam varius id odio ac imperdiet. Sed rutrum semper
  varius. Fusce ac magna sed felis laoreet imperdiet. Nam eu nunc a urna venenatis volutpat a at augue. Mauris interdum
  sem vitae nibh tincidunt, ac egestas est rhoncus. Phasellus ullamcorper maximus venenatis.</p>
Morbi lobortis scelerisque luctus. Pellentesque mollis ipsum id vulputate vehicula. In molestie at odio eu interdum. Integer est arcu, gravida ut ligula in, volutpat dignissim augue. Proin ex ex, vulputate vel neque vitae, molestie molestie orci. Morbi tempus aliquam ipsum, et tempor orci tincidunt non. Curabitur dignissim sapien quis tortor auctor aliquam. Donec fermentum scelerisque suscipit.

